$color-gray: #999;
$color-dark-gray: #222;
$color-white: #fffefd;

html, body, div, span, section, ul, li, h1, h2, h3, h4, h5 {
	box-sizing: border-box;
	color: $color-dark-gray;
	font-family: "Kozuka Gothic Pro";
	font-weight: lighter;
	//letter-spacing: -1px;
	//font-family: "Gill Sans";
	margin: 0;
	padding: 0;
}

ul, li {
	list-style: none;
}

.svg-defs {
	//height: 0;
	//position: absolute;
	//visibility: hidden;
	//width: 0;
	position: absolute;
	z-index: -1;
}

.button {
	background: $color-white;
	display: inline-block;
	padding: 0.5rem;
}


body {
	background: #fff;
}

svg {
	height: 100%;
	width: 100%;
}

@import "color-list";
@import "color-detail";
@import "room-scene";
@import "scene-grid";
@import "radial-slices";
@import "layout";