<div class="color-detail" ng-show="appState.isColorDetailDisplayed" style="background-color:#fff;" ng-class="{'color-detail__color-only-displayed': colorDetail.isColorOnlyDisplayed}">

    <div class="room-scene__wrapper">
        <svg  class="room-scene" version="1.1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMinYMin meet">
            <image  class="room-scene__image" xlink:href="./images/room-contrast.jpg" filter="url(#scene__filter)" x="0" y="0" height="100%" width="100%" />
            <image class="room-scene__image room-scene__image--foreground" xlink:href="./images/room-foreground.png" x="0" y="0" height="100%" width="100%" />
        </svg>
    </div>

    <div class="transition-overlay" style="background: radial-gradient(ellipse at center, {{appState.currentDetailColorRGBA}} 0%, {{appState.currentDetailColorRGBA}} 50%, {{appState.currentDetailColorRGBzeroA}} 100%);"></div>
    <!--#{{appState.currentDetailColor}}-->

    <div class="detail-copy">
        <h1 class="detail-copy__color-name">Ocean Spray</h1>
        <div class="detail-copy__close-cta" ng-click="colorDetail.hideDetailView()">Close</div>
        <div class="detail-copy__close-cta" ng-click="colorDetail.isColorOnlyDisplayed = true">Color Only</div>
        <div class="detail-copy__add-to-faves-cta" ng-click="colorDetail.addToFavorites(appState.currentDetailColor)">Add to Favorites</div>
    </div>

</div>