$anim-duration: 2s;

//@mixin gradient-overlay ($percent-expanded: 4, $overlay-anim-duration: $anim-duration * 1.8, $longer-side: horizontal, $gradient-radius-no-units: 100) {
@mixin gradient-overlay ($percent-expanded: 4, $anim-direction: 'animating-in', $longer-side: horizontal, $gradient-radius-no-units: 100) {
	//$overlay-anim-duration-short: $overlay-anim-duration * 0.66;
	//$overlay-anim-duration-long: $overlay-anim-duration * 2;

	$gradient-radius: #{$gradient-radius-no-units * $percent-expanded}vw;
	$gradient-offset: #{$gradient-radius};
	$gradient-anim-duration: #{$anim-duration} * 2;

	@if $anim-direction == 'animating-out' {
		$gradient-anim-duration: #{$anim-duration} \ 2;
	}

	@if $longer-side == 'vertical' {
		$gradient-radius: #{$gradient-radius-no-units * $percent-expanded}vh;
		left: calc(50% - #{$gradient-offset} / 2);
		top: calc(50% - #{$gradient-radius} / 2);
	}
	@else {
		left: calc(50% - #{$gradient-radius} / 2);
		top: calc(50% - #{$gradient-offset} / 2);
	}

	height: $gradient-radius;
	//transition-property: opacity, height, width, top, left;
	//transition-duration: $overlay-anim-duration-short, $overlay-anim-duration-long, $overlay-anim-duration-long, $overlay-anim-duration-long, $overlay-anim-duration-long;

	transition-property: height, width, top, left;
	transition-duration: $gradient-anim-duration, $gradient-anim-duration, $gradient-anim-duration, $gradient-anim-duration, $gradient-anim-duration;

	width: $gradient-radius;
}

color-detail,
.color-detail {
	display: block;
	height: 100%;
	left: 0;
	max-height: 100%;
	max-width: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 9;
}

.color-detail {
	.room-scene__wrapper {
	}

	.room-scene__image {
		transition: opacity $anim-duration;
		transition-delay: calc(#{$anim-duration} / 2);

		&--foreground {
			transition: opacity $anim-duration;
			transition-delay: 0;
		}

	}

	.detail-copy {
		background: $color-white;
		bottom: 0;
		left: 0;
		position: absolute;

		&__close-cta {
			@extend .button;
		}

		&__add-to-faves-cta {
			@extend .button;
			background: #fff;
		}

		&__color-name {
			font-size: 4rem;
		}
	}

	.detail-copy__color-toggle {
		position: relative;
	}

	.detail-copy__color-cta,
	.detail-copy__detail-cta {
		@extend .button;
		position: relative;
		transition: opacity $anim-duration;
		z-index: 1;
	}

	.detail-copy__detail-cta {
		left: 0;
		opacity: 0;
		position: absolute;
		top: 0;
		z-index: -1;
	}

	.transition-overlay {
		@include gradient-overlay;
		border: 2px solid red;
		border-radius: 50%;
		//opacity: 0;
		position: absolute;
	}

	&--color-only-displayed {
		.room-scene__image {
			opacity: 0;
		}

		.detail-copy__color-cta {
			opacity: 0;
			z-index: -1;
		}

		.detail-copy__detail-cta {
			opacity: 1;
			z-index: 2;
		}

		.transition-overlay {
			@include gradient-overlay($percent-expanded: 0.05);
		}

		&.remove {
			.transition-overlay {
				@include gradient-overlay($anim-direction: 'animating-out');
			}

		}
	}

} //end .color-detail

@media screen and (max-aspect-ratio: 20/19) {
	.color-detail {
		.detail-copy {
			background: red;
		}

		.transition-overlay {
			border: 2px solid blue;
			@include gradient-overlay($longer-side: vertical);
		}

		&--color-only-displayed {
			.transition-overlay {
				@include gradient-overlay($longer-side: vertical, $percent-expanded: 0.05);
			}

			&.remove {
				.transition-overlay {
					@include gradient-overlay($longer-side: vertical, $anim-direction: 'animating-out');
				}

			}
		}
	}
}