$anim-duration: 2s;


@mixin gradient-overlay ($percent-expanded: 1, $overlay-anim-duration: $anim-duration * 1.8, $longer-side: horizontal, $gradient-radius-no-units: 300) {
	$overlay-anim-duration-short: $overlay-anim-duration * 0.66;
	$overlay-anim-duration-long: $overlay-anim-duration * 2;
	//$gradient-radius: #{$gradient-radius-no-units}vw;
	$gradient-radius: #{$gradient-radius-no-units * $percent-expanded}vw;

	@if $longer-side == vertical {
		$gradient-radius: #{$gradient-radius-no-units * $percent-expanded}vh;
		//$gradient-radius: (#{$gradient-radius-no-units} * #{$percent-expanded})vh;
	}
	//@else {
	//	$gradient-radius: (#{$gradient-radius-no-units} * #{$percent-expanded})vw;
	//}

	left: calc(50% - (#{$gradient-radius} * #{$percent-expanded} / 2));
	height: $gradient-radius;
	top: calc(50% - (#{$gradient-radius} * #{$percent-expanded} / 2));
	transition-property: opacity, height, width, top, left;
	transition-duration: $overlay-anim-duration-short, $overlay-anim-duration-long, $overlay-anim-duration-long, $overlay-anim-duration-long, $overlay-anim-duration-long;
	width: $gradient-radius;
}

color-detail,
.color-detail {
	display: block;
	height: 100%;
	left: 0;
	max-height: 100%;
	max-width: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 9;
	
	.room-scene__wrapper {
	}

	.room-scene__image {
		transition: opacity $anim-duration;
		transition-delay: calc(#{$anim-duration} / 2);

		&--foreground {
			transition: opacity $anim-duration;
			transition-delay: 0;
		}

	}

	.detail-copy {
		background: $color-white;
		bottom: 0;
		left: 0;
		position: absolute;

		&__close-cta {
			@extend .button;
		}

		&__add-to-faves-cta {
			@extend .button;
			background: #fff;
		}

		&__color-name {
			font-size: 4rem;
		}
	}

	.detail-copy__color-toggle {
		position: relative;
	}

	.detail-copy__color-cta,
	.detail-copy__detail-cta {
		@extend .button;
		position: relative;
		transition: opacity $anim-duration;
		z-index: 1;
	}

	.detail-copy__detail-cta {
		left: 0;
		opacity: 0;
		position: absolute;
		top: 0;
		z-index: -1;
	}

	.transition-overlay {
		@include gradient-overlay;
		border: 2px solid red;
		border-radius: 50%;
		opacity: 0;
		position: absolute;
	}

	&--color-only-displayed {
		.room-scene__image {
			opacity: 0;
		}

		.detail-copy__color-cta {
			opacity: 0;
			z-index: -1;
		}

		.detail-copy__detail-cta {
			opacity: 1;
			z-index: 2;
		}

		//&.remove {
		//	.transition-overlay {
		//		@include gradient-overlay($percent-expanded: 0.5, $overlay-anim-duration: 0);
		//	}
		//
		//}

		.transition-overlay {
			//display: block;
			@include gradient-overlay($percent-expanded: 0.25);
			opacity: 1;

			//TO DO: implement this with setting at halfway point with the ng-remove
			//@include gradient-overlay ($longer-side: vertical);
		}
	}

} //end .color-detail

@media screen and (max-aspect-ratio: 20/19) {
	.color-detail {
		.detail-copy {
			background: red;
		}

		.transition-overlay {
			@include gradient-overlay($longer-side: vertical);
		}

		&--color-only-displayed {
			.transition-overlay {
				@include gradient-overlay($longer-side: vertical, $percent-expanded: 0.25);
			}
		}
	}
}