svg {
	display: block;
	height: 100%;
	width: 100%;
}

.page-wrapper {
	background: #bcc;
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100%;
}

.color-list {
	display: flex;
	height: 10%;
	width: 100%;
}

.color-list__item {
	flex: 1 1 auto;
}

.scene-grid__container{
	height: 80%;
	width: 100%;
}

.scene-grid__list{
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	width: 100%;
}

.scene-grid__scene {
	height: calc(50% - 3px);
	margin: 1px;
	overflow: hidden;
	position: relative;
	width: calc(50% - 3px);
}

.scene-grid__scene:nth-child(n+5) {
	display: none;
}

@media screen and (min-width: 768px) {
	.scene-grid__scene {
		height: calc(33.33333333% - 5px);
		margin: 2px;
		width: calc(33.33333333% - 5px);
	}

	.scene-grid__scene:nth-child(n+5) {
		display: block;
	}
}

@media screen and (min-aspect-ratio: 20/19) {
	.page-wrapper {
		flex-direction: row;
	}

	.scene-grid__container{
		height: 100%;
		width: 80%;
	}

	.color-list {
		height: 100%;
		flex-direction: column;
		width: 10%;
	}
}


@media screen and (min-width: 1024px) and (min-aspect-ratio: 1/1) {
	.color-list {
		width: 7.5%;
	}

	.scene-grid__container{
		width: 85%;
	}
}

@media screen and (min-width: 1150px) and (min-aspect-ratio: 1/1) {
	.color-list {
		width: 5%;
	}

	.scene-grid__container{
		width: 90%;
	}
}