.room-scene {
	bottom: -9999px;
	flex: 1 1 auto;
	left: -9999px;
	margin: auto;
	position: absolute;
	right: -9999px;
	top: -9999px;
}

.room-scene {
	max-height: 150%;
	max-width: 150%;
}

@media screen and (min-aspect-ratio: 1/1) {
	.room-scene {
		max-height: 125%;
		max-width: 125%;
	}
}

@media screen and (max-aspect-ratio: 4/5), (min-aspect-ratio: 5/4) {
	.room-scene {
		max-height: 134%;
		max-width: 134%;
	}
}

@media screen and (max-aspect-ratio: 3/4), (min-aspect-ratio: 4/3) {
	.room-scene {
		max-height: 157%;
		max-width: 157%;
	}
}

@media screen and (max-aspect-ratio: 24/17), (min-aspect-ratio: 17/24) {
	.room-scene {
		max-height: 186%;
		max-width: 186%;
	}
}

@media screen and (max-aspect-ratio: 2/3), (min-aspect-ratio: 3/2) {
	.room-scene {
		max-height: 212%;
		max-width: 212%;
	}
}

@media screen and (max-aspect-ratio: 1/2), (min-aspect-ratio: 2/1) {
	.room-scene {
		max-height: 250%;
		max-width: 250%;
	}
}

@media screen and (max-aspect-ratio: 2/5), (min-aspect-ratio: 5/2) {
	.room-scene {
		max-height: 320%;
		max-width: 320%;
	}
}

@media screen and (min-width: 1024px) and (min-aspect-ratio: 1/1) {
	.color-list {
		width: 7.5%;
	}

	.scene-grid__container{
		width: 85%;
	}
}

@media screen and (min-width: 1150px) and (min-aspect-ratio: 1/1) {
	.color-list {
		width: 5%;
	}

	.scene-grid__container{
		width: 90%;
	}
}