.hide {
	display: none;
}

.room-scene__wrapper {
	bottom: -9999px;
	flex: 1 1 auto;
	height: 400%;
	left: -9999px;
	margin: auto;
	max-height: 150%;
	max-width: 150%;
	position: absolute;
	right: -9999px;
	top: -9999px;
	width: 400%;

	.room-scene,
	.room-scene__image {
		height: 100%;
		width: 100%;
	}
}

.color-detail-cta {
	background: #fff;
	position: absolute;
}


@for $i from 1 through 50 {
	$currentLargeSize: 20 + $i;
	@media screen and (max-aspect-ratio: 20/ inspect($currentLargeSize)), (min-aspect-ratio: inspect($currentLargeSize) / 20 ) {
		.room-scene__wrapper{
			max-height: 110 + $i * 5%;
			max-width: 110 + $i * 5%;
		}
	}
}