.scene-grid__container{
	//display: flex;
	//flex-wrap: wrap;
	height: 80%;
	width: 100%;
}

.scene-grid__list{
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	width: 100%;
}

.scene-grid__scene {
	height: 50%;
	overflow: hidden;
	position: relative;
	width: 50%;
}

.scene-grid__scene:nth-child(n+5) {
	display: none;
}